<header class="header header__container">
    <section class="container">
        <div class="header__box">
            <h1 class="logo header__logo">BHROMAON</h1>
            <h2 class="header__text">Safe Travel Anywhere</h2>
            <form action="" class="header__form">
                <div class="header__form-search">
                    <input class="header__input" type="search" placeholder="Search Your Travel Destination">
                    <div class="header__button-box">
                        <button class="header__button" type="submit" value="">SEARCH<img class="header__img"
                                src="../images/svg/search.svg" alt="search"></button>
                    </div>
                </div>
            </form>
            <div class="header__scroll-box">
                <a class="scroll" href="#navigation">Scroll Down
                    <p class="arrow-down__box">
                        <i class="arrow-down"></i>
                    </p>
                </a>

            </div>
        </div>
    </section>

</header>