<section id="navigation" class="navigation">

    <nav class="navigation-box container">
        <h2 class="logo navigation-box__logo">BHROMAON</h2>
        <ul class="navigation-box__list">
            <li class="navigation-box__item">
                <a href="">WHO WE ARE</a>
            </li>
            <li class="navigation-box__item">
                <a href="">WHAT WE DO</a>
            </li>
            <li class="navigation-box__item">
                <a href="">TRAVEL WITH US</a>
            </li>
            <li class="navigation-box__item">
                <a href="">CONTACT US</a>
            </li>
        </ul>
    </nav>
</section>