<section id="navigation" class="navigation">

    <nav class="navigation-box container">
        <h2 class="logo navigation-box__logo">BHROMAON</h2>
        <ul class="navigation-box__list">
            <li class="navigation-box__item">
                <a href="#spainfirst">WHO WE ARE</a>
            </li>
            <li class="navigation-box__item">
                <a href="#spainsecond">WHAT WE DO</a>
            </li>
            <li class="navigation-box__item">
                <a href="#tourist">TRAVEL WITH US</a>
            </li>
            <li class="navigation-box__item">
                <a href="#footer">CONTACT US</a>
            </li>
        </ul>
    </nav>
</section>