<section class="spain">
    <div class="container">
        <aside class="spain-first">
            <div class="spain-first__card">
                <h2 class="spain-first__title">Spain</h2>
                <h3 class="spain-first__title-uppercase">Grand Spain Madrid</h3>
                <p class="spain-first__text">But I must explain to you how all this mistaken
                    idea of account to denouncing pleasure and praising pain was account
                    born and I account will give you a complete account of the system</p>
                <button class="button spain-first__button">Book Now</button>
            </div>
        </aside>
        <aside class="spain-second">
            <div class="spain-second__card">
                <h2 class="spain-second__title">Spain</h2>
                <h3 class="spain-second__title-uppercase">Grand Spain Madrid</h3>
                <p class="spain-second__text">But I must explain to you how all this mistaken
                    idea of account to denouncing pleasure and praising pain was account
                    born and I account will give you a complete account of the system</p>
                <button class="button spain-second__button">Book Now</button>
            </div>
        </aside>
    </div>
</section>