<section id="tourist" class="tourist">
    <div class="container">
        <h2 class="tourist__title">What Our Tourist Say</h2>
        <div class="tourist__box-wrapper">
            <div class="tourist__box">
                <div class="tourist__box-image-wrapper"><img class="tourist__box-image" src="images/card-3.png" alt="">
                </div>
                <div class="tourist__box-description">
                    <h3 class="tourist__box-title">SAM SUMON</h3>
                    <p class="tourist__box-text"><span class="tourist__sign">&#10077;</span>But I must
                        explain to you
                        how all
                        this mistaken
                        idea of account to denouncinpleasure and praising pain But I must explain to
                        you how all this mistaken idea of account to nai denouncing pleasure and praising
                        pain was account born and I account will give you a complete account of the system
                        was account born and I account will give you a nai the complete account of the system</p>
                </div>
            </div>
        </div>
    </div>
</section>