<section class="whychooseusbox">
    <div class="container">
        <div class="whychooseusbox__container">
            <div class="whychooseusbox__box-first">
                <div class="whychooseusbox__box-first-image-wrapper">
                    <img class="whychooseusbox__box-first-image" src="images/svg/search-large.svg" alt="">
                </div>
                <p class="whychooseusbox__box-first-text">Search Places</p>
            </div>
            <div class="border"></div>
            <div class="whychooseusbox__box-second">
                <div class="whychooseusbox__box-second-image-wrapper">
                    <img class="whychooseusbox__box-second-image" src="images/svg/success.svg" alt="">
                </div>
                <p class="whychooseusbox__box-second-text">Select Places</p>
            </div>
            <div class="border"></div>
            <div class="whychooseusbox__box-third">
                <div class="whychooseusbox__box-third-image-wrapper">
                    <img class="whychooseuboxs__box-third-image" src="images/svg/ok.svg" alt="">
                </div>
                <p class="whychooseusbox__box-third-text">Book & Enjoy</p>
            </div>
        </div>
    </div>
</section>