<section class="whychooseus container-padding">
    <div class="container whychooseus__content">
        <div class="whychooseus__box-left">
            <h2 class="whychooseus__title">Why Choose Us</h2>
            <p class="whychooseus__text-first">Tion and dislike men who are so beguiled and
                demoralized by desire by the charms of pleasure of the moment,
                so blinded by desire, that they cannot foresee </p>
            <p class="whychooseus__text-second">Ddislike men who are so beguiled and demoralized by the
                charms of pleasure of the moment, so blinded by desire, that.</p>
            <button class="button whychooseus__button">EXPLORE PLACES</button>
        </div>

        <div class="whychooseus__box-right">
            <div class="whychooseus__image-container-first">
                <div class="whychooseus__image-wrapper-first">
                    <img class="whychooseus__image-first" src="images/card-2.png" alt="card-2">
                </div>
            </div>
            <div class="whychooseus__image-container-second">
                <div class="whychooseus__image-wrapper-second">
                    <img class="whychooseus__image-second" src="images/card-1.png" alt="card-1">
                </div>
            </div>
        </div>
    </div>

</section>