<section class="whychooseus">
    <div class="container whychooseus__content">
        <div class="whychooseus__box-left">
            <h2 class="whychooseus__title">Why Choose Us</h2>
            <p class="whychooseus__text">Tion and dislike men who are so beguiled and
                demoralized by desire by the charms of pleasure of the moment,
                so blinded by desire, that they cannot foresee </p>
            <p class="whychooseus__text">Ddislike men who are so beguiled and demoralized by the
                charms of pleasure of the moment, so blinded by desire, that.</p>
            <button class="button whychooseus__button">EXPLORE PLACES</button>
        </div>

        <div class="whychooseus__box-right">
            <div>
                <img src="../images/card-2.png" alt="">
            </div>
            <div>
                <img src="../images/card-1.png" alt="">
            </div>
        </div>
    </div>

</section>