* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $base-font;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}
