$style: burger;
.#{$style} {
  position: relative;
  z-index: 11;
  display: block;
  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    &:checked + .#{$style}__box {
      .#{$style}__item:nth-child(1) {
        width: 75%;
      }
      .#{$style}__item:nth-child(2) {
        width: 50%;
      }
      .#{$style}__item:nth-child(3) {
        width: 25%;
      }
    }
    &:checked ~ .#{$style}__list {
      @media screen and (max-width: $screen-tablet) {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &__list {
    @media screen and (max-width: $screen-tablet) {
      transition: all 0.2s ease;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-49px);
      background-color: rgba($white, 0.9);
    }
  }
  &__box {
    width: 32px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    @media screen and (min-width: $screen-tablet) {
      display: none;
    }
  }
  &__item {
    transition: width 0.2s ease;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $dark;
  }
}
