.button {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: $base-font;
  @include text($H200, 400, $white);
  background-image: url(../images/buttonleft.png);
  background-repeat: no-repeat;
  background-color: $blue;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $button-hover;
  }
  @media screen and (min-width: $screen-tablet) {
    width: 225px;
  }
}
