.spain-second {
  background-image: url(../images/section-3.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  &__card-box {
    display: flex;
    justify-content: flex-end;
    padding-top: 229px;
    padding-bottom: 100px;
    padding-right: 30px;
  }
  &__card {
    background-image: url(../images/RectangleS2.png);
    width: 540px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__title {
    padding-top: 51px;
    margin-bottom: 30px;
    @include text($H250, 400, $light);
    font-family: $secondary-font;
  }
  &__title-uppercase {
    margin-bottom: 30px;
    @include text($H250, 400, $light);
    font-family: $secondary-font;
  }
  &__text {
    margin-bottom: 50px;
    @include text($H200, 400, $light);
    font-family: $secondary-font;
    line-height: 1.5;
  }
  &__button {
    margin-bottom: 50px;
  }
}
