.whychooseusbox {
  background-image: url(../images/re.png);

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-tablet) {
      display: flex;
      flex-direction: row;

      justify-content: space-around;
      padding-top: 100px;
      padding-bottom: 120px;
    }
  }
  &__box-first {
    padding-top: 24px;
    margin: 0 auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $screen-tablet) {
      padding-top: 0px;
    }
  }
  &__box-first-image-wrapper {
    margin: 0 auto;
    padding-bottom: 37px;
  }
  &__box-first-text {
    @include text($H500, 400, $grey);
    text-align: center;
  }
  &__box-second {
    padding-top: 24px;
    margin: 0 auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $screen-tablet) {
      padding-top: 0px;
    }
  }
  &__box-second-image-wrapper {
    margin: 0 auto;
    padding-bottom: 34px;
  }
  &__box-second-text {
    @include text($H500, 400, $grey);
    text-align: center;
  }
  &__box-third {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $screen-tablet) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  &__box-third-image-wrapper {
    margin: 0 auto;
    padding-bottom: 34px;
  }
  &__box-third-text {
    @include text($H500, 400, $grey);
    text-align: center;
  }
}
